<div class="well well-sm">
    {% include '@Flat/Blocks/connection.html.twig'  %}
</div>

<div class="well well-sm">

    {% set refreshUrl = path( "splash_connector_secured_action" , {
        "connectorName" : connector.profile.name,
        "webserviceId" : connector.WebserviceId,
        "action" : "refresh"
    }) %}

    <a class="btn btn-lg btn-block btn-warning text-white" href="{{ refreshUrl }}" target="_blank">
        <i class="fa fa-refresh">&nbsp;</i>
        Refresh
    </a>

</div>